*.xml
*.iml
*.pyc
*.zip
*.log
*.local.ini
*.egg
*.mat
*.gz
*.tmp
*.csv
.idea/
.vscode/
.pytest_cache/
simses.egg-info/
__pycache__/
results/
venv/
.venv/
!simses/data/**/*.csv
!simses/data/**/*.gz
simses/data/profile/**/*.csv
simses/data/profile/**/*.gz
simses/data/profile/**/*.xlsx
simses/data/profile/**/*.rar
simses/simulation/*
!simses/simulation/*.py
!simses/simulation/*.txt
!simses/simulation/*.defaults.ini
!simses/simulation/system_tests/*.py
!simses/simulation/system_tests/configs/*
!simses/simulation/system_tests/configs
!simses/simulation/system_tests
!simses/simulation/case_studies/*.py
!simses/simulation/case_studies/configs/*
!simses/simulation/case_studies/configs
!simses/simulation/case_studies
!simses/simulation/simbas/*.py
!simses/simulation/simbas/*.csv
!simses/simulation/simbas
simses/commons/utils/*.csv
doc/graph/*.pdf
doc/graph/*.png
doc/graph/*.dot
